<h2>About Pace</h2>
<p>Pace is a music player using for workout that only play the music match your pace.</p>

<h2>Features</h2>
<ul>
  <li>Analyze your local music.</li>
  <li>Auto detect your pace.</li>
  <li>Auto select best match music.</li>
  <li>Work on background.</li>
  <li>Provide preset musics.</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-android fa-lg main-list-item-icon"></span>
    <a href="{{ site.baseurl }}{{ site.download.basedir }}/{{ site.download.android.name }}_{{ site.download.android.version }}.apk">Get Android Package ({{ site.download.android.version }})</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://tankery.me">The Author</a>
  </li>
</ul>
