<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                    <a class="page-scroll" href="#page-top">{{ page.title }}</a>
                    </li>
                    {% for nav in page.nav %}
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                    <a class="page-scroll" href="{{ nav.url }}">{{ nav.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.author }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
