{% for link in page.contact.link %}
{% if link.type == 'pc' %}
<li class="pc">
{% elsif link.type == 'mobile' %}
<li class="mobile">
{% else %}
<li>
{% endif %}

    {% if link.image %}
    <a href="{{ link.url }}" class="btn-black">
        <img src="{{ site.baseurl }}/img/{{ link.image }}" alt="{{ link.text }}" class="image-btn">
    </a>
    {% else %}
    <a href="{{ link.url }}" class="btn btn-default btn-lg">
        <i class="fa fa-{{ link.title }} fa-fw"></i> <span class="network-name">{{ link.text }}</span>
    </a>
    {% endif %}

</li>
{% endfor %}
